.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.wrapper {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-wrapper {
  width: 20%;
  border: 1px solid pink;
}
